 <style type="text/css">
    table tr td
    {
      margin:8px 8px;
    }  
    td.STYLE6
    {
      height: 30px;
      width:50%;
      font-size: 16px;
      font-weight:bold;
      color: #666;
    }
    
    td .STYLE19
    {
    	height: 30px;
      width:50%;
      font-size: 16px;
      color: #666;
    }
    
    span.STYLE19
    {
    	text-align:center;
    }
    
 </style>
    <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce">
    	 <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">ID：</span>
          </div>
        </td>       
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.train_id}</span>
        	</div>
        </td>  
      </tr> 
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">培训课程名称：</span>
          </div>
        </td>       
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.train_cname}</span>
        	</div>
        </td>  
      </tr> 
      
       <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">培训讲师：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.train_teacher}</span>
        	</div>
        </td>  
      </tr>
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">讲师头像：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19"><img src= '{$Think.const.SET_URL}{$info.teacher_sphoto|substr=###,2}' alt="图片"></span>
        	</div>
        </td>  
      </tr>
       <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">讲师简介：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.teacher_profile}</span>
        	</div>
        </td>  
      </tr>
              
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">培训费用：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.train_price}</span>
        	</div>
        </td>  
      </tr>
      
      
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">培训人数限定：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.train_pnum}</span>
        	</div>
        </td>  
      </tr>
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">培训时间：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.train_time}</span>
        	</div>
        </td>  
      </tr>  
      
      
       <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">培训方式：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.train_way}</span>
        	</div>
        </td>  
      </tr> 
      
      
      
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">培训地点：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.train_addr}</span>
        	</div>
        </td>  
      </tr> 
      
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">培训方电话：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.train_tel}</span>
        	</div>
        </td>  
      </tr> 
      
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">培训方QQ：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.train_qq}</span>
        	</div>
        </td>  
      </tr> 
      
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">培训方微信：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.train_wechat}</span>
        	</div>
        </td>  
      </tr> 
  
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">培训条目：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<foreach name='tinfo' key='k' item='v'>  
	        	<div align="left" height="500px">
	        		<span class="STYLE19">{$v.tinfo_item}</span>
	        	</div>    
	        </foreach>
        </td>  
      </tr>    
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">培训内容：</span>
          </div>
        </td>     
        <td  bgcolor="#FFFFFF" class="STYLE19">
	        <foreach name='tinfo' key='k' item='v'>  
	        	<div align="left">
	        		<span class="STYLE19">{$v.tinfo_content}</span>
	        	</div>    
	        </foreach>
       </td>       
      </tr>      
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">添加时间：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.add_time}</span>
        	</div>
        </td>  
      </tr>  
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">修改时间：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.upd_time}</span>
        	</div>
        </td>  
      </tr>   
</table>
    