<tr>
    <td>
    <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce">
      <tr>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">ID</span></div></td>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">培训课程名称</span></div></td>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">培训讲师</span></div></td>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">培训费用</span></div></td>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">培训人数限定</span></div></td>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">培训时间</span></div></td>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">培训方式</span></div></td>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">添加时间</span></div></td>          
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">修改时间</span></div></td>
          <td width="6%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">操作</span></div></td>
			</tr>
      <foreach name='info' key='k' item='v'>
            <tr>
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" >{$v.train_id}</span></div></td>
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" >{$v.train_cname}</span></div></td>
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" >{$v.train_teacher}</span></div></td>
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" >{$v.train_price}</span></div></td>              
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" >{$v.train_pnum}</span></div></td>
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" >{$v.train_time}</span></div></td>
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" >{$v.train_way}</span></div></td>
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" > {:date('Y-m-d H:i:s',$v[add_time])}</span></div></td>
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" > {:date('Y-m-d H:i:s',$v[upd_time])}</span></div></td>                    
              <td height="100" bgcolor="#FFFFFF">
              	<div align="center" class="STYLE21">          
                  <a style='color:rgb(59,99,119)'  href="{:U('addtrItem',array('train_id'=>$v['train_id']))}">添加培训介绍</a>&nbsp;&nbsp;<br/>             		
                  <a style='color:rgb(59,99,119)'  href="{:U('trDetail',array('train_id'=>$v['train_id']))}">详情</a>&nbsp;&nbsp;                 
                  <a style='color:rgb(59,99,119)'  href="{:U('updTraining',array('train_id'=>$v['train_id']))}">修改</a>&nbsp;&nbsp;              		
              		<a style='color:rgb(59,99,119)'  href=" {:U('delTraining',array('train_id'=>$v['train_id']))}" onclick="if(confirm('确认要删除我么？主人')){return true;}else{return false;}" >删除</a><br/>
                  <a style='color:rgb(59,99,119)'  href="{:U('updtrItem',array('train_id'=>$v['train_id']))}">修改培训介绍</a>&nbsp;&nbsp;<br/>             		              		 
              	</div>
              </td>
            </tr>
      </foreach>
    </table></td>
  </tr>
 </table>
 