 <style type="text/css">
    table tr td
    {
      margin:8px 8px;
    }  
    td.STYLE6
    {
      height: 30px;
      width:50%;
      font-size: 16px;
      font-weight:bold;
      color: #666;
    }
    
    td .STYLE19
    {
    	height: 30px;
      width:50%;
      font-size: 16px;
      color: #666;
    }
    
    span.STYLE19
    {
    	text-align:center;
    }
    
 </style>
    <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce">
    	 <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">ID：</span>
          </div>
        </td>       
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.hire_id}</span>
        	</div>
        </td>  
      </tr> 
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">招聘职位：</span>
          </div>
        </td>       
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.hire_name}</span>
        	</div>
        </td>  
      </tr> 
       <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">招聘区域：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.hire_area}</span>
        	</div>
        </td>  
      </tr>        
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">学历要求：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.hire_degree}</span>
        	</div>
        </td>  
      </tr>
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">工作地点：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.work_area}</span>
        	</div>
        </td>  
      </tr>
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">工作年限：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.work_year}</span>
        	</div>
        </td>  
      </tr>  
       <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">工作经验：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.work_exp}</span>
        	</div>
        </td>  
      </tr>     
       <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">薪资待遇：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.office_salary}</span>
        	</div>
        </td>  
      </tr>   
       <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">招聘联系人：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.hire_person}</span>
        	</div>
        </td>  
      </tr>      
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">联系电话：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.hire_tel}</span>
        	</div>
        </td>  
      </tr> 
        <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">联系QQ：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.hire_qq}</span>
        	</div>
        </td>  
      </tr>    
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">联系微信：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.hire_wechat}</span>
        	</div>
        </td>  
      </tr>      
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">联系邮箱：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.hire_email}</span>
        	</div>
        </td>  
      </tr>   
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">岗位要求：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<foreach name='hireinfo' key='k' item='v'>  
	        	<div align="left" height="500px">
	        		<span class="STYLE19">{$v.work_need}</span>
	        	</div>    
	        </foreach>
        </td>  
      </tr>    
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">岗位职责：</span>
          </div>
        </td>     
        <td  bgcolor="#FFFFFF" class="STYLE19">
	        <foreach name='hireinfo' key='k' item='v'>  
	        	<div align="left">
	        		<span class="STYLE19">{$v.work_duty}</span>
	        	</div>    
	        </foreach>
       </td>       
      </tr>      
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">添加时间：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.add_time}</span>
        	</div>
        </td>  
      </tr>  
      <tr>    	
        <td bgcolor="#FFFFFF" class="STYLE6">
        	<div align="right">
        		<span class="STYLE19">修改时间：</span>
          </div>
        </td>   
        <td  bgcolor="#FFFFFF" class="STYLE19">
        	<div align="left">
        		<span class="STYLE19">{$info.upd_time}</span>
        	</div>
        </td>  
      </tr>   
</table>
    