<tr>
    <td>
    <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce">
      <tr>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">ID</span></div></td>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">职位名称</span></div></td>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">招聘区域</span></div></td>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">学历要求</span></div></td>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">工作地点</span></div></td>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">职位薪水</span></div></td>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">联系电话</span></div></td>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">简历投递邮箱</span></div></td>
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">添加时间</span></div></td>          
          <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">修改时间</span></div></td>
          <td width="6%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">操作</span></div></td>
			</tr>
      <foreach name='info' key='k' item='v'>
            <tr>
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" >{$v.hire_id}</span></div></td>
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" >{$v.hire_name}</span></div></td>
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" >{$v.hire_area}</span></div></td>
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" >{$v.hire_degree}</span></div></td>              
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" >{$v.work_area}</span></div></td>
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" >{$v.office_salary}</span></div></td>
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" >{$v.hire_tel}</span></div></td>
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" >{$v.hire_email}</span></div></td>                         
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" > {:date('Y-m-d H:i:s',$v[add_time])}</span></div></td>
              <td height="100" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19" > {:date('Y-m-d H:i:s',$v[upd_time])}</span></div></td>                    
              <td height="100" bgcolor="#FFFFFF">
              	<div align="center" class="STYLE21">          
                  <a style='color:rgb(59,99,119)'  href="{:U('addhireIterm',array('hire_id'=>$v['hire_id']))}">添加招聘要求</a>&nbsp;&nbsp;<br/>             		
                  <a style='color:rgb(59,99,119)'  href="{:U('detail',array('hire_id'=>$v['hire_id']))}">详情</a>&nbsp;&nbsp;                 
                  <a style='color:rgb(59,99,119)'  href="{:U('updhire',array('hire_id'=>$v['hire_id']))}">修改</a>&nbsp;&nbsp;              		
              		<a style='color:rgb(59,99,119)'  href=" {:U('delhire',array('hire_id'=>$v['hire_id']))}" onclick="if(confirm('确认要删除我么？主人')){return true;}else{return false;}" >删除</a><br/>
                  <a style='color:rgb(59,99,119)'  href="{:U('updhireItem',array('hire_id'=>$v['hire_id']))}">修改招聘要求</a>&nbsp;&nbsp;<br/>             		              		 
              	</div>
              </td>
            </tr>
      </foreach>
    </table></td>
  </tr>
 </table>
 